/* Base panel styles */
#panel.transparent-top-bar--compact {
  height: 25px;
  font-size: 10pt;
  font-weight: 500;
  transition-duration: 250ms;
}

#panel.transparent-top-bar--compact .panel-button {
  -natural-hpadding: 7px;
  -minimum-hpadding: 7px;
  font-weight: 500;
  transition-duration: 100ms;
}

/* Solid state */
#panel.transparent-top-bar--solid {
  background-color: #000;
  transition-duration: 300ms;
}

/* Transparent state */
#panel.transparent-top-bar--transparent {
  background-color: rgba(0, 0, 0, 0.25);
  transition-duration: 500ms;
}

#panel.transparent-top-bar--transparent:overview {
  background-color: transparent;
  transition-duration: 250ms;
}

#panel.transparent-top-bar--transparent .panel-button {
  color: #eee;
  text-shadow: none;
}

#panel.transparent-top-bar--transparent .workspace-dot {
  background-color: #eee;
  text-shadow: none;
}

#panel.transparent-top-bar--transparent .system-status-icon,
#panel.transparent-top-bar--transparent .app-menu-icon > StIcon,
#panel.transparent-top-bar--transparent .popup-menu-arrow {
  box-shadow: none;
}

/* Fade text on fullscreen */
#panel.transparent-top-bar--fade-text .panel-button {
  color: #bababa;
  transition: color 0.3s ease;
}

#panel.transparent-top-bar--fade-text .workspace-dot {
  background-color: #bababa;
  transition: color 0.3s ease;
}

#panel.transparent-top-bar--fade-text:hover .panel-button {
  color: #eee;
}

#panel.transparent-top-bar--fade-text:hover .workspace-dot {
  background-color: #eee;
}

/* OSD window */
.osd-window {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
